
.container-slides{
    width: 650px;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 0%;
    overflow:visible;
}
/*Area of images*/
.wrapper-slides{
    display: flex;
    height: 100%;
    object-fit:scale-down;
    object-position: left, left;
    animation: slide 16s infinite;
}

img{
    height: 640px;
}
/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}